body{
    background-color: rgb(31, 150, 230);
}
header{
    text-align: center;
    color: white;
}
footer{
    text-align: center;
    color: white;
}
section{
    text-align: center;
    color: white;
}